<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Событие ondblclick</title>
    <style>
        div {
            height: 200px; /* Высота слоя */
            background: #f0f0f0; /* */
            padding: 5px; /* Поля вокруг текста */
            border: 1px solid #333; /* Параметры рамки */
        }
    </style>
    <script>
        var color = 0;
        function colorDiv() {
            if (color) {
                document.getElementById("layer").style.background = "#f0f0f0";
                color = 0;
            }
            else {
                document.getElementById("layer").style.background = "#fc0";
                color = 1;
            }
        }
    </script>
</head>
<body>
<p>Дважды щелкните в этом поле для изменения цвета фона.</p>
<div id="layer" ondblclick="colorDiv()">
</div>
</body>
</html>